
*{
  box-sizing:border-box;
}

@font-face{
  font-family: Aller_Bd;
  src: url("assets/fonts/Aller/Aller_Bd.ttf");
}

@font-face{
  font-family: Aller_Bdlt;
  src: url("assets/fonts/Aller/Aller_BdIt.ttf");
}

@font-face{
  font-family: Aller_lt;
  src: url("assets/fonts/Aller/Aller_It.ttf");
}

@font-face{
  font-family: Aller_Ltlt;
  src: url("assets/fonts/Aller/Aller_LtIt.ttf");
}

@font-face{
  font-family: Aller_Rg;
  src: url("assets/fonts/Aller/Aller_Rg.ttf");
}

@font-face{
  font-family: AllerDisplay;
  src: url("assets/fonts/Aller/AllerDisplay.ttf");
}

@font-face{
  font-family: Lato-Bla;
  src: url("assets/fonts/lato/Lato-Bla.ttf");
}

@font-face{
  font-family: Lato-Blalta;
  src: url("assets/fonts/lato/Lato-BlaIta.ttf");
}

@font-face{
  font-family: Lato-Bol;
  src: url("assets/fonts/lato/Lato-Bol.ttf");
}

@font-face{
  font-family: Lato-Bollta;
  src: url("assets/fonts/lato/Lato-BolIta.ttf");
}

@font-face{
  font-family: Lato-Hai;
  src: url("assets/fonts/lato/Lato-Hai.ttf");
}

@font-face{
  font-family: Lato-Hailta;
  src: url("assets/fonts/lato/Lato-HaiIta.ttf");
}

@font-face{
  font-family: Lato-Lig;
  src: url("assets/fonts/lato/Lato-Lig.ttf");
}

@font-face{
  font-family: Lato-Liglta;
  src: url("assets/fonts/lato/Lato-LigIta.ttf");
}

@font-face{
  font-family: Lato-Reg;
  src: url("assets/fonts/lato/Lato-Reg.ttf");
}

h2{
  font-family: Lato-Reg;
}

h3{
  font-family: Lato-Reg;
}

p{
  font-family: Aller_Rg;
}

.topbar {
  display: block;
  width: 100%;
  height: 60px;
  top: -20px;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 30px;
  position: fixed;
  z-index: 2;

  background-color: white;

  font-size: 20px;
  font-family: Lato-Reg;
  text-align: center;

}

.topbar > div{
  z-index: 2;
  position: relative;
  display: inline;
  margin-left: -60px;
}

.logo {
  float: left;
  position: relative;
  z-index: 2;
  margin-top: -5px;
  margin-left: 30px;
}

.undershadow {
  width: 100%;
  height: 100%;
  margin-top: -12px;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  z-index: 1;
}

.userData{
  top: 45px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #F7F5ED;
}

.profilePic{
  display: block;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.userData > div{
  display: block;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.location{
  margin-top: -20px;
}

.stats{
  margin-top: 20px;
  display: inline-block;
}

.stats > div{
  display: inline-block;
  width: 150px;
  margin-bottom: 20px;
}

.following{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.followers{
  border-left: 1px solid grey;
}

.divider{
  position: relative;
  display: block;
  margin-left: -10px;
  margin-right: -10px;
  background-color: black;
  height: 30px;
}

.colors{
  display: block;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.color{
  float: left;
  border: none;
  position: relative;
  height: 10px;
}

.selected{
  box-sizing:content-box;
  margin-top: -2px;
  border: 2px white solid;
}

.zero{
  background-color: #2e5ca6;
}

.two{
  background-color: #586db9;
}

.four{
  background-color: #008fd0;
}

.six{
  background-color: #57cccc;
}

.eight{
  background-color: #ceebee;
}

.ten{
  background-color: #ffffff;
}

.tenK{
  border: 2px solid grey;
  background-color: #ffffff;
}

.twelve{
  background-color: #ffeec3;
}

.fourteen{
  background-color: #ffcc43;
}

.sixteen{
  background-color: #ffa02d;
}

.eighteen{
  background-color: #ff6d3a;
}

.twenty{
  background-color: #ee443a;
}

.knotch{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.topKnotch{
  display: block;
  height: 50px;
}

.cat{
  float: left;
  margin-top: -6px;
}

.sideT{
  float: right;
}

.knotchContent{
  height: 175px;
  display: block;
  text-align: center;
  padding-top: 55px;
  padding-right: 50px;
  padding-left: 50px;
}

.knotchContent > p{
  text-align: center;
}

.speecharrow{
  margin-top: -2px;
  margin-left: 20px;
}

.author{
  margin-top: 5px;
}

.author > img{
  float: left;
}

.author > h3 {
  padding-top: 15px;
  margin-left: 80px;
}

.reply{
  display: block;
}
.reply > img{
  float: left;
}
.author > p {
  padding-top: 20px;
  margin-left: 80px;
}


